@import "tailwindcss";

@theme {
  /* Define the custom shimmer animation */
  --animate-shine: shine 3s ease-in-out infinite;

  @keyframes shine {
    0%, 100% { background-position: 100% 0%; }
    50% { background-position: -100% 0%; }
  }

}

@keyframes expand-line {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes soft-glow {
  0%,
  100% {
    opacity: 0.5;
    transform: translateY(2px);
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
  }
}
